// questions? http://sass-lang.com/guide
// open a new terminal tab
// cd into styles/
// run `sass --watch main.scss`
// all sass code will be compiled into `styles/main.css` whenever you save this file
// the `--watch` command alerts you in terminal to any errors

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  font-family: Calibri, "Trebuchet MS", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

#payment-popup {
	text-align: center;
	z-index: 5;
	display: block;
	position: relative;
	padding: 2%;
	border-radius: 5px;
	border: 1px solid #EFEFEF;
	background-color: #F3F3F4;
	width: 60%;
	text-align: center;
	margin: 0 auto;



	button {
		background: maroon;	
		color: white;
		border-radius: 5px;
		width: 45%;
		padding: 1em;
		font-size: 1em;
		border: none;
		margin: 1em;


	}

	h3 {
		font-size: 1.5em;
		margin-top: .5em;
	}
}

#shade-layer {
	z-index: 3;
}


@media screen and (max-width: 768px) {
	#payment-popup {
		color: blue;
		width: 80%;
	}
}

@media screen and (max-width: 480px) {
	#payment-popup {
		color: purple;

	}
}






