// questions? http://sass-lang.com/guide
// open a new terminal tab
// cd into styles/
// run `sass --watch main.scss`
// all sass code will be compiled into `styles/main.css` whenever you save this file
// the `--watch` command alerts you in terminal to any errors

$font-stack:    Calibri, "Trebuchet MS", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$primary-color: #404040;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #535353;
}

* {
  box-sizing: border-box;
}

#payment-popup {
	text-align: center;
	z-index: 5;
	display: block;
	position: relative;
	padding: 5%;
	border-radius: 5px;
	border: 1px solid #EFEFEF;
	background-color: #ffffff;
	max-width: 680px;
	margin: 0 auto;
	font-size: 15px;

	button {
		// background: #8BB2DF;
		background: #7a9fd1;	
		color: #ffffff;
		border-radius: 5px;
		border: none;
		margin: 1em .5em 0 .5em;
		font-size: 13px;
    	padding: 14px 44px;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	text-decoration: none;
    	transition: all .2s;

    		&.no {
    			background: #C1C1C1;

    			&:hover {
					background: #adadad;
				}
    		}

    		&.yes {
    			background: #7a9fd1;

    			&:hover {
    				background: #5A88C6;

    			}
    		}
    		
	}


	h3 {
		font-size: 1.6em;
    	margin-top: 1em;
    	color: #575757;
    	line-height: 1.3em;
	}

	p {
		margin: 1.8em 0 1.5em 0;
		color: #797979;
    	text-align: left;
    	line-height: 1.5em;
	}

	.exit {
		position: absolute;
		float: right;
		width: 50px;
		height: 50px;
		// background: red;
		right: 0px;
		top: 0px;

		.line {
			position: absolute;
		    width: 3px;
		    height: 20px;
		    right: 30px;
		    top: 20px;
		    -webkit-border-radius: 2px;
		    border-radius: 2px;
		    background-color: #C1C1C1;

		    &:hover {
		    	background-color: #adadad;
		    }
		}
		
		.line-left {
		    -ms-transform: rotate(45deg); 
    		-webkit-transform: rotate(45deg); 
    		transform: rotate(45deg)
			}

			.line-right {
		    -ms-transform: rotate(-45deg); /* IE 9 */
    		-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    		transform: rotate(-45deg)
		}
	}



	.alert-icon {
		width: 85px;
	    height: 85px;
	    border: 5px solid #8BB2DF;
	    -webkit-border-radius: 40px;
	    border-radius: 40px;
	    border-radius: 50%;
	    margin: 0 auto;
	    padding: 0;
	    position: relative;

    	.vert-line {
    		position: absolute;
		    width: 6px;
		    height: 41px;
		    left: 50%;
		    top: 10px;
		    -webkit-border-radius: 2px;
		    border-radius: 2px;
		    margin-left: -2px;
		    background-color: #8BB2DF;
    	}

    	.period {
    		position: absolute;
		    width: 8px;
		    height: 8px;
		    -webkit-border-radius: 50%;
		    border-radius: 50%;
		    margin-left: -3px;
		    left: 50%;
		    bottom: 10px;
		    background-color: #8BB2DF;
    	}	

	}
}

#shade-layer {
	z-index: 3;
}


@media screen and (max-width: 768px) {
	#payment-popup {
		color: blue;
		width: 80%;
	}
}

@media screen and (max-width: 480px) {
	#payment-popup {
		color: purple;

	}
}






